Description=Gunicorn App

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=pi
#RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/flaskapp/flask_okta
ExecStart=/usr/bin/gunicorn3 app:app
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
